<!-- NEPRIJAVLJENI -->
<!DOCTYPE html>
<html>

<head>
    <title>Izbor za pjesmu odmora | Prijedlozi</title>
    <!-- NASLOV KARTICE -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- IKONA KARTICE -->

    <link rel="stylesheet" type="text/css" href="/public/new.css">
    <script type="text/javascript" src="/public/new.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta name="theme-color" content="  ">
    <!--BOJA ZAGLAVLJA U CHROMU-->


    <!-- IZ ZVONIMIROVOG KODA -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>

<body>
    <div class="zaglavlje" id="#top">
        <div class="naslov">
            <p class="gumb"><a href="#">TIMES</a></p>
            <h2 class="dio-naslov"><a href="/">Izbor Za Pjesmu</h2><h1 class="kljucna-rijec">ODMORA</a></h1>
        </div>
        <div class="korisnik">
            <i class="material-icons user" style="font-size:45px;" title="Bok, admin" id="myBtn">person</i>
        </div>
    </div>

    <div style="height: 50px; width: 100%;">
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <!-- MODAL CONTENT -->
            <p>Pozdrav, admin</p>
            <ul>
                <li><i class="material-icons" style="font-size: 14px;">keyboard_arrow_right</i><a href="#">Moji podaci</a></li>
                <li><i class="material-icons" style="font-size: 14px;">keyboard_arrow_right</i><a href="#">Dodaj korisnika</a></li>
                <li><i class="material-icons" style="font-size: 14px;">keyboard_arrow_right</i><a href="#">Očisti server</a></li>
                <li><i class="material-icons" style="font-size: 14px;">keyboard_arrow_right</i><a href="#">Uredi raspored</a></li>
                <li><i class="material-icons" style="font-size: 14px;">keyboard_arrow_right</i><a href="#">Upravljaj korisnicima</a></li>
            </ul>
            <a href="#">
                <form action="/logout" method="post">
                    <input type="submit" value="Odjavi se">
                </form>
            </a>
        </div>
    </div>

    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        document.addEventListener('keyup', function(e) {
            if (e.keyCode == 27 || e.keyCode == 13) {
                modal.style.display = "none";
            }
        });
    </script>
    <div class="icon-bar">
        <a href="https://www.facebook.com/3gmos/" class="facebook" title="III. gimnazija na Facebooku" target="_blank"><img src="/slike/fb_bijeli.png" width="35"></a>
        <a href="https://www.instagram.com/iii.gimnazija.osijek/" class="instagram" title="III. gimnazija na Instagramu" target="_blank"><img src="/slike/ig_bijeli.png" width="35"></a>
        <a href="https://www.youtube.com/channel/UCeiBC-SpHTB4pujkuFy0ctw?sub_confirmation=1" class="youtube" title="III. gimnazija na YouTubeu" target="_blank"><img src="/slike/yt_bijeli.png" width="35"></a>
    </div>



    <!-- MAIN CONTENT -->

    <div id="preporuke" style="width:40%">a</div>
    <div id="red" style="width:40%">b</div>

    <!-- FOOTER -->
    <div class="footer">
        <div class="vrh">
            <a href="#top">
                <p class="na-vrh-tekst">
                    <i class="material-icons strelica" style="float: left;">keyboard_arrow_up</i> Povratak na vrh
                    <i class="material-icons strelica" style="float: right;">keyboard_arrow_up</i>
                </p>
            </a>
        </div>

        <p id="vlasnik" style="text-align: center;"><br><a href="http://www.gimnazija-treca-os.skole.hr">III. GIMNAZIJA OSIJEK</a></p><br>
        <div id="kontakt-podaci">
            <p id="adresa"><br>Kamila Firingera 14,<br>31 000 Osijek, HR</p>
            <p id="e-posta">
                <a href="mailto:ured@gimnazija-treca-os.skole.hr"><br>ured@gimnazija-treca-os.skole.hr</a><br><a href="mailto:pjesma@mail.com">pjesma@mail.com</a></p>
        </div>

        <div style="height: 150px; width: 100%;"></div>

        <div class="footer-end">
            <p id="copyright">Copyright: <a href="http://www.gimnazija-treca-os.skole.hr">III. gimnazija Osijek</a> &copy;
                <script>
                    var d = new Date();
                    document.write(d.getFullYear() + ".");
                </script><br> Sva prava pridržana.
            </p>
            <p id="designer"></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/restricted/admin.js"></script>
</body>

</html>