<!-- NEPRIJAVLJENI -->
<!DOCTYPE html>
<html>

<head>
    <title>Izbor za pjesmu odmora</title>
    <!-- NASLOV KARTICE -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- IKONA KARTICE -->

    <link rel="stylesheet" type="text/css" href="/public/new.css">
    <script type="text/javascript" src="/public/new.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta name="theme-color" content="  ">
    <!--BOJA ZAGLAVLJA U CHROMU-->
</head>

<body>
    <div class="zaglavlje" id="#top">
        <div class="naslov">
            <h2 class="dio-naslov"><a href="/">Izbor Za Pjesmu</h2><h1 class="kljucna-rijec">ODMORA</a></h1>
        </div>
        <div class="korisnik">
            <i class="material-icons user" style="font-size:45px;" title="Prijavi se" id="myBtn">person</i>
        </div>
    </div>

    <div style="height: 50px; width: 100%;">
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <!-- MODAL CONTENT -->
            aaa

        </div>
    </div>

    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        document.addEventListener('keyup', function(e) {
            if (e.keyCode == 27 || e.keyCode == 13) {
                modal.style.display = "none";
            }
        });
    </script>
    <div class="icon-bar">
        <a href="https://www.facebook.com/3gmos/" class="facebook" title="III. gimnazija na Facebooku" target="_blank"><img src="/slike/fb_bijeli.png" width="35"></a>
        <a href="https://www.instagram.com/iii.gimnazija.osijek/" class="instagram" title="III. gimnazija na Instagramu" target="_blank"><img src="/slike/ig_bijeli.png" width="35"></a>
        <a href="https://www.youtube.com/channel/UCeiBC-SpHTB4pujkuFy0ctw?sub_confirmation=1" class="youtube" title="III. gimnazija na YouTubeu" target="_blank"><img src="/slike/yt_bijeli.png" width="35"></a>
    </div>



    <!-- MAIN CONTENT -->
    <span id="sadrzaj">
		<div style="display: block; margin: auto; width:70%; text-align: center;">
            Youtube link: <input id="link" type="text">
            <button onclick="submit()">Pošalji!</button>
            <p id="status">Još nije poslano
            </p>
        </div>

	</span>

    <!-- FOOTER -->
    <div class="footer">
        <div class="vrh">
            <a href="#top">
                <p class="na-vrh-tekst">
                    <i class="material-icons strelica" style="float: left;">keyboard_arrow_up</i> Povratak na vrh
                    <i class="material-icons strelica" style="float: right;">keyboard_arrow_up</i>
                </p>
            </a>
        </div>

        <p id="vlasnik" style="text-align: center;"><br><a href="http://www.gimnazija-treca-os.skole.hr">III. GIMNAZIJA OSIJEK</a></p><br>
        <div id="kontakt-podaci">
            <p id="adresa"><br>Kamila Firingera 14,<br>31 000 Osijek, HR</p>
            <p id="e-posta">
                <a href="mailto:ured@gimnazija-treca-os.skole.hr"><br>ured@gimnazija-treca-os.skole.hr</a><br><a href="mailto:pjesma@mail.com">pjesma@mail.com</a></p>
        </div>

        <div style="height: 150px; width: 100%;"></div>

        <div class="footer-end">
            <p id="copyright">Copyright: <a href="http://www.gimnazija-treca-os.skole.hr">III. gimnazija Osijek</a> &copy;
                <script>
                    var d = new Date();
                    document.write(d.getFullYear() + ".");
                </script><br> Sva prava pridržana.
            </p>
            <p id="designer"></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/user/recommend.js"></script>
</body>

</html>