body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    display: inline-block;
    margin: 0px;
}

p {
    margin: 0px;
}

img {
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline overline #ffffff;
    color: #df6d46;
}

a:active {
    color: #ba5c3c;
}

i {
    color: white;
    text-decoration: none;
}

i:visited {
    color: white;
}

i:hover {
    color: #df6d46;
}

i:active {
    color: #ba5c3c;
}

.zaglavlje {
    width: 100%;
    background-color: #0099e5;
    overflow: auto;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #df6d46;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 0px;
    background-color: #0099e5;
}

input::-webkit-input-placeholder {
    color: #df6d46;
}

input:focus::-webkit-input-placeholder {
    color: white;
}


/* Firefox < 19 */

input:-moz-placeholder {
    color: #df6d46;
}

input:focus:-moz-placeholder {
    color: white;
}

button[type="button"],
button[type="submit"],
button {
    background-color: #0099e5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button[type="button"]:focus,
button[type="submit"]:focus,
button:focus {
    background-color: #df6d46;
}


/* Firefox > 19 */

input::-moz-placeholder {
    color: #df6d46;
}

input:focus::-moz-placeholder {
    color: white;
}


/* Internet Explorer 10 */

input:-ms-input-placeholder {
    color: #df6d46;
}

input:focus:-ms-input-placeholder {
    color: white;
}

.naslov {
    width: 90%;
    text-align: center;
    overflow: hidden;
    float: left;
}

.dio-naslov {
    font-size: 27px;
    font-variant: small-caps;
    font-family: "Impact", sans-serif;
}

.kljucna-rijec {
    font-size: 40px;
    font-style: bold;
    font-family: sans-serif;
}

.gumb {
    float: left;
}

.korisnik {
    width: 10%;
    text-align: center;
    font-size: 100px;
    float: right;
}

#poruka-administratora {
    font-size: 27px;
    font-family: sans-serif;
    font-weight: 900;
}

.trending {
    width: 70%;
    overflow: auto;
    text-align: center;
}

.trend-no1 {
    text-align: center;
    width: 80%;
    overflow: auto;
}

.trend-broj-1 {
    text-align: center;
}

.trend-song {
    width: 100%;
    overflow: hidden;
}

.trend-broj {
    font-size: 70px;
    font-family: cursive;
}

.naziv-pjesme {
    font-family: sans-serif;
    font-size: 27px;
}

.trend-crta {
    margin: 1em;
    border-width: 2px;
    border-color: green;
}

.trend-ostale {
    width: 100%;
    text-align: center;
}

.trend-songs {
    width: 95%;
    overflow: hidden;
}

#trend2,
#trend3,
#trend4,
#trend5 {}

.footer {
    width: 100%;
    margin: 0px;
    border-top: 5px solid #004f75;
    background-color: #00293d;
    color: white;
    font-family: sans-serif;
}

.vrh {
    width: 100%;
    margin: 0px;
    border-bottom: 5px solid #004f75;
    background-color: #004f75;
    text-align: center;
    font-size: 20px;
}

.vrh a:hover {
    text-decoration: none;
}

#vlasnik {
    font-size: 60px;
    font-family: serif;
}

#kontakt-podaci {
    width: 100%;
    overflow: auto;
}

#adresa {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 25px;
}

#e-posta {
    width: 50%;
    float: right;
    text-align: center;
    font-size: 25px;
}

.footer-end {
    width: 100%;
    display: inline-block;
}

#copyright {
    text-align: center;
}

#copyright a {
    color: white;
}

#copyright a:hover {
    text-decoration-color: #df6d46;
}

#designer {
    text-align: right;
}

#designer::before {
    content: "by AK&ZH";
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 18px;
}

.facebook {
    background: #1877f2;
    color: white;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient( 45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient( 45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient( 45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: white;
}

.youtube {
    background: #ff0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    text-align: center;
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 60%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.column {
    display: inline-block;
    text-align: center;
}

.column#caption {
    position: relative;
}

.column#caption .text {
    position: absolute;
    top: 63%;
    left: 90%;
    transform: translate(-90%, -63%);
    z-index: 10;
    opacity: 0;
    transition: all 0.7s ease;
}

.column#caption .text h1 {
    margin: 0;
    color: white;
    font-size: 30px;
    font-family: cursive;
}

.column#caption:hover .text {
    opacity: 1;
}

.glasaj-icon {
    color: black;
    font-size: 70px;
}